/* ========== END COMMON ========== */
img {
    object-fit: cover;
}

.one_dots {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.two_dots {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.three_dots {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.line-through {
    text-decoration: line-through;
}
/* ========== END COMMON ========== */

.what-more a {
    color: #0d723b;
    text-align: right;
}

.detail-teacher-ctn #main .wrapper .right-a .row-a .text a {
    width: auto;
}


.detail h5 a {
    color: #000;
}

.news .new-title h5 > a {
    color: #000;
}

.color-black {
    color: #000;
}

.news .new-item img {
    height: 340px;
}

.news .new-item .new-title {
    height: 70px;
}

.course-name h5:first-of-type {
    width: 400px;
}

.other-item-content .des-ctn {
    height: 70px;
}

.item-course a img {
    width: 100%;
    height: 354px;
}

.item-course .other-item-content .name-ctn {
    display: block !important;
}

.modal {
    max-width: 100%;
}

#modal_warning_permission .btn {
    padding: 5px 15px;
}

@media only screen and (min-width: 768px) {
    .list-teacher-item .detail .review p {
        height: 65px;
    }
}

@media only screen and (max-width: 768px) {
    .list-teacher-item .teacher-img img {
        height: auto;
    }

    .image > img {
        width: 100%;
        height: auto;
    }

    .news .new-item .new-title {
        height: auto;
    }
}
